.comment-box1{
    border: 1px solid #eee;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 5px 10px;
    position: relative;
    border-radius: 0px 10px 10px 10px ;
    background: #fff;
    color: #6b6e80;
}
.card-comment-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-comment{
    color: #2fa4e7;
    text-decoration: none;
    margin-right: 10px;
    background-color: transparent;
}
.comment-link{
    margin-left: 0px;
    padding-inline-start: 15px;
    font-size: 11px;
    margin-bottom: 16px;
}
.comment-box-input{
    border: 3px solid #eee;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 5px 10px;
    position: relative;
    border-radius: 20px 20px 20px 20px ;
    background: #fff;
    color: #6b6e80;
    width: 100%;
    height: 45px;
    overflow:hidden;
    resize:both;
    outline: none;
}
.comment-box-card{
    margin-top: 15px;
    margin-bottom: 10px;
}
.comment-box-card1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 1px;
}