@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    background-color: #fff;
}
.body_home {
    background-color: #F1F2F6!important;
}

#container_row {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

#post-content {
    resize: none;
}

.judul {
    font-family: 'Poppins';
}

nav .pagination {
    cursor: pointer;
}

.fixed-top {
    z-index: 99999!important;
}

.material-icons { vertical-align: middle; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#desktop,
.navbar .navbar-nav .active {
    border-bottom: 2px solid #007bff;
}

.navbar .navbar-nav .active .material-icons {
    color: #007bff;
}

#postModal {
    top: 50px!important;
}

#serviceModal {
    top: 50px!important;
}

#serviceOrderModal {
    top: 50px!important;
}

#serviceReviewModal {
    top: 50px!important;
}

.card-img-badge {
    max-width: 36px;
}

.dialogelfinder {
    z-index: 9999!important;
}

/* Profile Pic */
.picture-timeline {
    width: 45px;
    height: 45px;
}
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    height: 100%;
}

#filter_clear:hover {
    cursor: pointer;
}

/* Back to top */
.backTop {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 1em;
    margin: 1em;
}

.backTop:hover {
    cursor: pointer;
}

/* font-awesome color */
.market-coverage {
    color: #c71c22;
}

.market-complete {
    color: #73a839;
}

.market-recommended {
    color: #dd5600;
}

.market-since {
    color: #c71c22;
}

/* score ratings */
.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
}

.score .market-stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .market-stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}

.gallery-wrap .img-big-wrap {
    text-align: center;
}

.gallery-wrap .img-big-wrap img {
    max-width: 100%;
    display: inline-block;
    cursor: zoom-in;
}

.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}