/*==================================================
  Nearby People CSS
  ==================================================*/

@media (max-width: 767.98px) {
	.people-nearby .nearby-user {
		text-align: center;
	}
	.people-nearby .nearby-user .profile-photo-lg {
		margin-bottom: 5px;
	}
}

@media (min-width: 768px) {
	.people-nearby .nearby-user .profile-photo {
		text-align: center;
	}
}

.people-nearby .google-maps{
	background: #f8f8f8;
	border-radius: 4px;
	border: 1px solid #f1f2f2;
	padding: 20px;
	margin-bottom: 20px;
}

.people-nearby .google-maps .map{
	height: 300px;
	width: 100%;
	border: none;
}

.people-nearby .nearby-user{
	padding: 20px 0;
	border-bottom: 1px solid #f1f2f2;
}

img.profile-photo-lg{
	height: 90px;
	width: 90px;
	border-radius: 50%;
}